<div class="user-card" style="padding-bottom: 55px;">
  <mat-toolbar>
    <span>Galeria</span>
  </mat-toolbar>

  <div style="margin-top: 20px; text-align: center; margin-bottom: 20px;">
    <img *ngFor="let photo of photos" style="cursor: pointer;;" src={{photo.thumbnailUrl}} data-bs-toggle="modal"
      data-bs-target="#exampleModal" (click)="showGallery(photo.url)" (click)="saveId(photo.id)">
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-body" style="display: flex; justify-content: center;">
        <img src={{photoUrl}}>
      </div>
    </div>
    <div style="text-align: center; margin-top: -30px;">
      <button mat-raised-button color="accent" class="me-2" data-bs-dismiss="modal">Cerrar</button>
      <button mat-raised-button color="warn" (click)="deletePhoto(photoId)" data-bs-dismiss="modal">Borrar</button>
    </div>
  </div>
</div>