<div class="user-card">
    <mat-toolbar style="display: flex; justify-content: space-between; height: 80px;">
        <span>Detalle de Usuario:</span>
        <button mat-fab color="accent" class="mt-2" routerLink="/users">Atrás</button>
    </mat-toolbar>

    <mat-card style="background-color: #DED7CC; margin-top: 20px;">
        <mat-card-header class="p-2">
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle style="font-weight: bold;">Empresa: {{nameCompany}}</mat-card-subtitle>
            <mat-card-subtitle><a style="color: #ff4081;" href="http://{{user.website}}" target="blank">
                    {{user.website}}
                </a></mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions style="display: flex; justify-content: flex-end;">
            <button mat-stroked-button color="accent" class="me-3"
                [routerLink]="['/posts/user/', user.id]">POSTS</button>
            <button mat-stroked-button color="accent" class="me-3"
                [routerLink]="['/users/', user.id, 'albums']">ALBUMES</button>
            <button mat-stroked-button color="accent" [routerLink]="['/users/', user.id, 'todos']">TODOs</button>
        </mat-card-actions>
    </mat-card>
</div>